@using ComuneOnline.Models.Entities
@model IEnumerable<Cittadino>

@if(TempData["SuccessMessage"] != null)
{
    <div id="successMessage" class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h2>Cittadini</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var cittadino in Model)
        {
            <tr>
                <td>@cittadino.Nome</td>
                <td>@cittadino.Cognome</td>
            </tr>
        }
    </tbody>
</table>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        setTimeout(() => {
        const success = document.getElementById("successMessage");

        if(success) {
            success.style.display = "none";
        }
    }, 3000)
    })
    
</script>